.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  background: var(--color-bg, #fdf9ee);
  color: var(--color-text, #2b2b2a);
  transition:
    background-color 150ms ease,
    color 150ms ease;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.markdown-body h1 {
  color: var(--color-highlight);
}

/* DARK THEME STYLING */
html[data-theme="dark"] .markdown-body table {
  color: #5d3fd3;
}

html[data-theme="dark"] .markdown-body h6 {
  color: #eee0bb;
}

/* 1337 THEME STYLING */
html[data-theme="leet"] .markdown-body h6 {
  color: #00ff00;
}

html[data-theme="leet"] .markdown-body table {
  color: #2b2b2a;
}
