@import "tailwindcss";

[default-highlight="purple"] {
  --color-highlightColor: #5d3fd3;
}

[default-highlight="green"] {
  --color-highlightColor: #00ff00;
}

[default-highlight="blue"] {
  --color-highlightColor: blue;
}

:root {
  --color-bg: #fdf9ee;
  --color-text: #2b2b2a;
  --color-border-lines: #eee0bb;
  --color-theme-highlight: var(--color-highlightColor);
}

[data-theme="dark"] {
  --color-bg: #0d1117;
  --color-text: #f0f6fc;
  --color-border-lines: #5d3fd3;
  --color-theme-highlight: #5d3fd3;
}

[data-theme="leet"] {
  --color-bg: #000;
  --color-text: #00ff00;
  --color-border-lines: #00ff00;
  --color-theme-highlight: #00ff00;
}

@theme {
  --color-background-yellow: #fdf9ee;
  --color-stone: #2b2b2a;
  --color-purple: #5d3fd3;
  --color-highlight: var(--color-theme-highlight);
  --color-lines: var(--color-border-lines);
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
}

.nav-border > div {
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-color: var(--color-border-lines);
  border-bottom-width: 1px;
}

/* LINKS (NAVBAR LINKS, PROJECTITEM LINKS, FOOTER LINKS) */

.underline-hover {
  border-color: var(--color-bg);
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 2px;
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: var(
    --tw-duration,
    var(--default-transition-duration) /* 150ms */
  );
  border-radius: var(--radius-md);
}

.underline-hover:hover {
  border-color: var(--color-theme-highlight);
  background-color: var(--color-border-lines);
}

.footer-link-light,
.footer-link-dark,
.footer-link-leet {
  display: none;
}

html[data-theme="light"] .footer-link-dark {
  display: block;
}

html[data-theme="dark"] .footer-link-light,
html[data-theme="leet"] .footer-link-light {
  display: block;
}
