@import "tailwindcss";

:root {
  --color-bg: #fdf9ee;
  --color-text: #2b2b2a;
}

[data-theme="dark"] {
  --color-bg: #2b2b2a;
  --color-text: #eee0bb;
}

[data-theme="leet"] {
  --color-bg: #000;
  --color-text: #00ff00;
}

@theme {
  --color-background-yellow: #fdf9ee;
  --color-lines: #eee0bb;
  --color-stone: #2b2b2a;
  --color-purple: #5d3fd3;
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
}

.nav-border > div {
  width: 100%;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom-color: #eee0bb;
  border-bottom-width: 1px;
}

.navbar-link,
.projectItem-link,
.themeBtn {
  border-color: #fdf9ee;
  border-bottom-style: var(--tw-border-style);
  border-bottom-width: 2px;
  transition-property: all;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */
  );
  transition-duration: var(
    --tw-duration,
    var(--default-transition-duration) /* 150ms */
  );
}

.navbar-link:hover,
.themeBtn:hover {
  border-color: #5d3fd3;
  font-weight: 700;
}
.projectItem-link:hover {
  border-color: #5d3fd3;
}
