/* LARGE AND ABOVE */

@media (min-width: 67rem) {
  .app-container {
    background-color: var(--color-background);
    color: var(--color-foreground);
    display: flex;
    justify-content: center;
    height: 100vh;
  }

  .main-container {
    display: flex;
    margin-block: calc(var(--spacing) * 2.5);
  }

  .navlinkmenu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navlinkmenu-links {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    width: calc(var(--spacing) * 28);
  }

  .navbar-container {
    width: calc(var(--spacing) * 36);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-border > div {
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-color: var(--color-border-lines);
    border-bottom-width: 1px;
  }
}

/* UP TO LARGE*/

@media (max-width: 66.938rem) {
  .footer-styling {
    padding-bottom: calc(var(--spacing) * 3);
    flex: 1;
    overflow-y: auto;
  }

  .navlinkmenu-links {
    display: flex;
    gap: calc(var(--spacing) * 3);
  }

  .navbar-section {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 1px;
    border-color: var(--color-lines);
    width: 100%;
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .navbar-container {
    display: flex;
  }

  .navbar-container > div {
    border-color: var(--color-lines);
    border-right-style: var(--tw-border-style);
    border-right-width: 1px;
    padding-inline: calc(var(--spacing) * 4);
  }

  .themecont {
    border-left-style: var(--tw-border-style);
    border-left-width: 1px;
  }

  .themeMenuCont {
    top: calc(var(--spacing) * 16);
    right: calc(var(--spacing) * 0);
  }

  .themeMenuCont,
  .pagesMenuCont {
    z-index: 50;
    position: absolute;
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: var(--color-highlight);
    background-color: var(--color-bg);
    border-radius: var(--radius-lg);
    --tw-shadow:
      0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
      0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
    box-shadow:
      var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    padding: calc(var(--spacing) * 4);
  }

  .main-container {
    background-color: var(--color-background);
    color: var(--color-foreground);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 52.563rem) {
  .navlinkmenu-links {
    gap: 0;
  }

  .navbar-container > div {
    padding-inline: calc(var(--spacing) * 2);
  }

  .project-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: calc(var(--spacing) * 5);
  }
}

@media (min-width: 52.563rem) {
  .form-element {
    margin-inline: calc(var(--spacing) * 25);
  }

  .project-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: calc(var(--spacing) * 3);
  }
}

@media (min-width: 45.625rem) {
  .about-desc {
    gap: calc(var(--spacing) * 25);
    align-items: center;
  }

  .about-desc > p {
    margin-left: calc(var(--spacing) * 8);
  }

  .form-section {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }

  .grid-col2 {
    grid-column: span 2 / span 2;
  }
}

@media (max-width: 45.563rem) {
  .pageCont-title {
    text-align: center;
  }

  .pageCont-img {
    width: var(--container-sm);
  }

  .navLinkMenuMobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--spacing) * 2);
  }

  .navlinkmenu-container {
    display: none;
  }

  .about-desc {
    flex-direction: column;
  }

  .form-section {
    grid-template-rows: repeat(7, minmax(0, 1fr));
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (max-width: 37.5rem) {
  .project-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: calc(var(--spacing) * 5);
  }

  .project-item-container {
    width: 100%;
  }

  .project-item-container > h3 {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .project-item-container > p {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }
}

@media (max-width: 31rem) {
  .about-desc > p {
    font-size: var(--text-lg);
    line-height: var(--tw-leading, var(--text-lg--line-height));
  }
}

@media (max-width: 25.313rem) {
  .themecont {
    border: none;
  }

  .title-link {
    font-size: 1.125rem;
  }
}

@media (max-width: 22.625rem) {
  .mobile-title {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .title {
    display: none;
  }
}
